@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rock+Salt&display=swap');

body {
  background-color: #dfc1be;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive
}

h1 {
  padding: 3px;
  font-family: 'Rock Salt', cursive;
  box-shadow: inset 0 0 41px #252222;
  margin-left: 8em;
  margin-right: 8em;
  border-radius: 0.1em;
  background-color: #b0746e;
}

a {
  text-decoration: none;
}

h4 {
  margin: 14px 2em 0;
}

.totals {
  display: inline-block;
}

table {
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  border-spacing: 0;
  border: 1px solid grey;
  border-radius: 0.2em;
  box-shadow: inset 0 0 15px black;
}

tbody {
  box-shadow: 0 0 2em #252222;
}

td {
  font-size: 3em;
}

.box  {
  background-color: white;
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  text-align: center;
  line-height: 100px;
  display: inline-block;
}

#clearBtn {
  padding: 10px 20px;;
  margin: 19px;
  background-color: #716363;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 19px;
}

footer {
  text-align: right;
}
